{% load libnews_tags %}	
{% get_bolimlar %}		

			<div class="col-md-12" style="border: 1px solid red">
			
			<div class="col-md-12">
					<div class="list-group">
					    <a href="{% url 'home' %}" class="list-group-item list-group-item-action active" aria-current="true">
					        Kitoblar kategoriyalari
					    </a>
					    {% for item in bolimlar %}
					    <a href="{% url 'bolim' item.pk %}" class="list-group-item list-group-item-action">{{ item.title }}</a>
					    {% endfor %}
					</div>
				</div>	
			</div>