{% extends 'base.html' %}\


{% block title %}
Yangilik qo`shish |{{block.super}}
{% endblock %}





					
			{% block sidebar %}
			{% include 'inc/_sidebar.html' %}
			{% endblock %}

			{% block content %}
			<h1> Yangilik qo`shish</h1>
			<form action="{% url 'add_libnews' %}" method="post">
				  {% csrf_token %}
				{{ form.as_p }} 

				{{ form.non_field.errors }}
{% comment %}
				<div class="mb-3">
				  <label for="{{ form.title.id_for_label }}" class="form-label">Sarlavha: </label>
				  {{ form.title }}
				  <div class="invalid-feedback">
				  	{{ form.title.errors }}
				  </div>
				</div>

				<div class="mb-3">
				  <label for="{{ form.aftor.id_for_label }}" class="form-label">Muallif: </label>
				  {{ form.aftor }}
				  <div class="invalid-feedback">
				  	{{ form.aftor.errors }}
				  </div>
				</div>

				<div class="mb-3">
				  <label for="{{ form.tavsif.id_for_label }}" class="form-label">Tavsif: </label>
				  {{ form.tavsif }}
				  <div class="invalid-feedback">
				  	{{ form.tavsif.errors }}
				  </div>
				</div>

				<div class="mb-3">
				  <label for="{{ form.created_at.id_for_label }}" class="form-label">Yaratilgan vaqti: </label>
				  {{ form.created_at }}
				  <div class="invalid-feedback">
				  	{{ form.created_at.errors }}
				  </div>
				</div>

				<div class="mb-3">
				  <label for="{{ form.nashri.id_for_label }}" class="form-label">Nashri(yangilangan vaqti): </label>
				  {{ form.nashri }}
				  <div class="invalid-feedback">
				  	{{ form.nashri.errors }}
				  </div>
				</div>

				<div class="mb-3">
				  <label for="{{ form.is_published.id_for_label }}" class="form-label">Chop qilinganligi: </label>
				  {{ form.is_published }}
				  <div class="invalid-feedback">
				  	{{ form.is_published.errors }}
				  </div>
				</div>

				<div class="mb-3">
				  <label for="{{ form.bolim.id_for_label }}" class="form-label">Kategoriyasi: </label>
				  {{ form.bolim }}
				  <div class="invalid-feedback">
				  	{{ form.bolim.errors }}
				  </div>
				</div>
{% endcomment %} 
{% comment %}
			{% for field in form %}
			<div class="mb-3">
				{{ field.label_tag }}
				{{ field }}
				<div class="invalid-feedback">
					{{ field.errors }}
				</div>
			</div>
			{% endfor %}
{% endcomment %} 
				<button type="submit" clas = "btn-primary btn-block">Kitob qo`shish</button> 
				
			</form>

			<div class="col-md-12" style="background-color: coral">
				
				{% for item in libnews %} 

				<div class="card mb-3">
				  <div class="card-header" style="color: blue">
				   Kategoriya: <a href="{{ item.get_absolute_url }}">{{item.bolim}}</a> 
				  <h5 style="color: red">{{item.myFunk}}</h5>
				  </div>

				  <div class="card-body" style="background-color: #666; color: white; font-family: sans-serif; ">
				  	<div class="media">
				  		{% if item.photo %}
				  		<img src="{{item.photo.url}}" width="80" height="120" alt="libnews_img">
				  		{% endif %}

					    <h5 class="card-title">
					    	{{ item.title }}
					    </h5>
					    <h6>
					    	{{item.aftor}}
					    </h6>
					  
					    <p class="card-text">{{item.tavsif}}</p>
					    
					    <a href="{{item.get_absolute_url}}" class="btn btn-primary">Read more...</a>
				    </div>
				  </div>
				  <div class="card-footer text-muted">
				    {{item.created_at|date:"d-m-Y H:i"}}
				  </div>
				</div> 
				{% endfor %}
			</div>
			{% endblock %}

			{% block content2 %}
			<div class="col-md-12">
				Bu yerda eng ko`p o`qilgan kitoblar chiqadi.
			</div>
			{% endblock %}
	
	