{% extends 'base.html' %}

{% block title %}
{{ bolim.title }} |{{block.super}}
{% endblock %}




		
					
			{% block sidebar %}
			{% include 'inc/_sidebar.html' %}
			{% endblock %}


			{% block content %}
			<div class="col-md-12" style="background-color: coral">
				
				{% for item in libnews %} 

				<div class="card mb-3">
				  <div class="card-header" style="color: blue">
				   Kategoriya: <a href="{% url 'bolim' item.bolim.pk %}">{{item.bolim}}</a> 
				  <h5 style="color: red">{{item.myFunk}}</h5>
				  </div>

				  <div class="card-body" style="background-color: #666; color: white; font-family: sans-serif; ">
				  	<div class="media">
				  		{% if item.photo %}
				  		<img src="{{item.photo.url}}" width="80" height="120" alt="libnews_img">
				  		{% endif %}

					    <h5 class="card-title">
					    	{{ item.title }}
					    </h5>
					    <h6>
					    	{{item.aftor}}
					    </h6>
					  
					    <p class="card-text">{{item.tavsif}}</p>
					    
					    <a href="#" class="btn btn-primary">Read more...</a>
				    </div>
				  </div>
				  <div class="card-footer text-muted">
				    {{item.created_at|date:"d-m-Y H:i"}}
				  </div>
				</div> 
				{% endfor %}
			</div>
			{% endblock %}

			{% block content2 %}
			<div class="col-md-12">
				Bu yerda eng ko`p o`qilgan kitoblar chiqadi.
			</div>
			{% endblock %}
	
	